body{
    background: #f3f5f9;
    font-family: "Open Sans",sans-serif;
}

.page-header-fixed .page-container {
    margin-top: 75px;
}

.page-container {
    margin: 0;
    padding: 20px 20px 0;
    position: relative;
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}


.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}

.rowclick{
    cursor: pointer;
}

#myMod{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.3);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9997;
}
